html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    background: linear-gradient(#8b9da9, #fff6e4);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
    font-weight: normal;
    background-size:cover;
    background-position:center center;
    margin-bottom: 0px !important;
}

h1 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-align: center;
}

.shadow {
    font-family: 'Jura', sans-serif;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa; 
    padding-bottom: 20px;
}

.btn {
    background: #ea4335;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    -khtml-border-radius:15px;
    border-radius:15px;
    box-shadow: 0 0 10px black;
}

.top_image {
    background: url(images/Scania/scania_zastavka.jpg) 100% 100% no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:local;
    background-size: cover;
    margin: 0 auto;
    padding: 180px;
    position: relative;
}

.zastavka {
    font-family: 'Jura', sans-serif;
    font-size: 2.2em;
    font-weight:700;
    color: #fff;
/*    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -100px -100px;*/
    position:absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 0;
}

.zastavka2 {
    font-size: 1.4em;
    color: black;
    font-family: 'Jura', sans-serif;
    margin-top: 0px;
}

.zastavka3 {
    position:absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    height: 0;
}

#pricing {
    padding: 0px 0 70px;
/*    background: #d8d8d8;*/
}
#pricing ul.pricing {
    list-style: none;
    padding: 0;
    margin: 70px 0 30px;
    border: 1px solid #eee;
    padding: 15px;
    text-align: center;
    background-color: #EEE;
}
#pricing ul.pricing li {
    display: block;
    padding: 10px;
}
#pricing ul.pricing li.plan-header {
    background: #eee; 
    margin: -15px -15px 10px;
    padding: 15px 15px 30px;
    border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
    position: relative;
    margin-top: 15px;
    top: -10px;
    display: inline-block;
    width: 100%;
    height: 116px; 
    color: #000;  
    border-bottom: 1px dashed #696363;
}
#pricing ul.pricing li.plan-header .price-duration > span {
    display: block;
    line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
    margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
    margin-top: 10px;
    font-size: 24px;
    color: #D91D1D;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}
#pricing ul.pricing.featured {
    background: #EEEEEE; 
    border: 0;
}
#pricing ul.pricing.featured li.plan-header {
    background: #D91D1D;
}
#pricing ul.pricing.featured li.plan-header .plan-name {
    color: #fff;
}

/* Pricing header */
.price .header {
    background-color: #199cdb;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    background: #fff;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/*Carousel image*/
#carousel_style {
    width: 70%; 
    margin: 0 auto;
}

.carousel-inner{
    width:100%;
    height: 500px;
    background-color: none;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
/*End carousel image*/

.img {
    max-width: 974px;
    max-height: 276px;
    width: 100%;
    height: auto;
}

/* Large Devices,Wide Screens */
@media (min-width: 980px) {
    
}

/* Medium Devices, Desctop */
@media (min-width: 768px) and (max-width: 979px) {
    #carousel_style {
        width: 100%; 
        margin: 0 auto;
    }
    .top_image {
        margin: 0 auto;
        padding: 125px;
    }
}

/* Small Devices, Tablets */
@media (max-width: 767px) {
    #carousel_style {
        width: 100%; 
        margin: 0 auto;
    }
    .carousel-inner{
        height: 405px;
    }
    .top_image {
        margin: 0 auto;
        padding: 125px;
    }
}

/* Extra Small Devices, Phones */
@media (max-width : 480px) {
    #carousel_style {
        width: 100%; 
        margin: 0 auto;
    }
    .carousel-inner{
        height: 250px;
    }
    h2, h3 {
        font-size: 1.4em;
    }
    .top_image {
        margin: 0 auto;
        padding: 55px;
    }
    .zastavka {
        font-size: 1.2em;
        top: -10px;
    }
}